

body {
  background-color: white;
}

h1{
    text-align: center;
    width: 100%;
    color: aliceblue

}

.seleccion{
    background-color: #635bff;
    color: white;
}

.seleccion:hover{
    background-color: #3f00ff;
    color: white;
}

input[type=number] {
  width: 60px;

}